@using BugBlaze.Data.Models

@page "/listprojects"

@inject CustomHttpClient Http
@inject AppSettingsService AppSettingsService

<h2>Projects</h2>
<p>
    <a class="btn btn-primary" href="/createproject">Create New Project</a>
</p>
@if (projects == null)
{
    <img src="./spinner.gif" />

}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Language</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@project.Description</td>
                    <td>@project.Language</td>
                    <td>
                        
                        <a class="btn btn-success" href="/createbug/@project.Id">Submit Bug</a>
                        <a class="btn btn-primary" href='/listbugs/@project.Id'>View Bugs</a>
                        <a class="btn btn-info" href='/editproject/@project.Id'>Edit Project</a>
                        <a class="btn btn-danger" href='/deleteproject/@project.Id'>Delete Project</a>
                    </td>
                </tr>



            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Project> projects;
    string baseUrl;

    HttpClient http = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        projects = await Http.GetJsonAsync<IEnumerable<Project>>(baseUrl + "/api/projectsapi");
    }
}     