@using BugBlaze.Data.Models

@page "/listprojects"

@inject CustomHttpClient Http
@inject AppSettingsService AppSettingsService

<h2>Projects</h2>
<p>
    <a href="/addproject">Create New Project</a>
</p>
@if (projects == null)
{
    <img src="./basicloader.gif" />

}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@project.Description</td>
                    <td>@project.Language</td>
                    <td>
                        <a href='/createbug/@project.Id'>Submit Bug</a>
                        <a href='/listbugs/@project.Id'>View Bugs</a>
                        <a href='/editproject/@project.Id'>Edit Project</a>
                        <a href='/deleteproject/@project.Id'>Delete Project</a>
                    </td>
                </tr>



            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Project> projects;
    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        projects = await Http.GetJsonAsync<IEnumerable<Project>>(baseUrl + "/api/projectsapi/");
    }
}     