
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using BugBlaze.Areas.Identity;
@using Microsoft.AspNetCore.Components.Authorization;
using System.Web.Security



<h3>Dashboard</h3>

<div>
    <a>  </a>
</div>



@code {

    protected void startup()
    {
        @*var user = Membership.GetUser();*@
    }






}
